body {
    color: black;
    font-size: 16px;
    font-weight: normal;
    font-family: '굴림'
}
.board {
    width: 100%;
    border-collapse: collapse;
}

.board #board-head th {
    border-bottom: 1px solid black;
    padding: 10px;
}

.board #board-head #input {
    border-bottom: 1px dotted black;
    transition: background 0.4s;
}
.todo-button {
    border: 1px solid black;
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
    width: 80px;
    text-align:center;
    margin:auto;
}
.todo-button:hover {
    cursor: grab;
    user-select: none;
    color: crimson;
}

.board #board-head #view-mode {
    text-align: left;
}
.board #board-head #view-mode:hover {
    text-align: left;
    user-select: none;
    color: crimson;
    cursor: grab;
}

.board #board-head #login-button {
    display: none;
    transition: background 0.4s;
}
.board #board-head #logout-button {
    display: none;
}

.board #board-body th {
    padding: 10px;
    border-bottom: 1px dotted black;
    font-size: 16px;
}
.board #board-body tr:hover {
    color: crimson;
}

.board #board-body #num {
    width: 10%;
}
.board #board-body #text {
    text-align: left;
    border-left: 1px dotted black;
    border-right: 1px dotted black;
    width: 70%;
}
.board #board-body #date {
    border-right: 1px dotted black;
}

.board #board-body #del-button {
    color: darkcyan;
    width: 10%;
    text-align: center;
    margin:auto;
}

